$mainColour: rgb(255, 255, 255);
$secondaryColour: rgb(255, 0, 0);
$highlightColour: rgb(2, 146, 146);
$thirdColour: rgba(40, 42, 192);
$NavbarLinkUnderline: rgb(0, 4, 250);
$black: rgb(0, 0, 0, 1);
$hover: rgb(255, 0, 0);
$linkText: rgb(255, 255, 255);


$topLinkColour_1: #ffffff;
$topLinkColour_2: #f00;
$topLinkColour_3: #000;